
@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-900;
    @apply text-gray-100
}

.active{
  @apply hover:bg-blue-400 p-2
  bg-blue-500 rounded-md font-bold text-white inline-block transition;
}

.normal{
  @apply font-bold text-white hover:scale-110 inline-block transition
}


thead>tr>th.ant-table-cell {
    background: #20293c !important;
    font-size: large;
    color: white;
    border: none;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
    cursor: pointer;
}


